.post-div{
    width: 300px;
    display: inline-block;
}
  body{
    background-color: #ffffe8;
  }
/*fiters at the top*/
.filters{
  font-family: 'Bebas Neue'
}
/*Add Post Button*/
/* .container {
  width: 130px;
  height: 20px;
  text-align: center;
} */
/* Updated button styles */
button {
  font-family: 'Bebas Neue';
  outline: none;
  height: 50px;
  width: 150px;
  text-align: center;
  padding: 0 20px;
  border-radius: 40px;
  background: #ffd4d4;
  border: 2px solid #b84c65;
  color: #b84c65;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  color: #b84c65;
  background: #ffffe8;
}

button:active {
  letter-spacing: 2px;
}

.sort-options{
  margin: 30px;
}
select{
  outline: none;
  height: 30px;
  width: 100px;
  text-align: center;
  padding: 0 20px; /* Adjust padding as needed */
  border-radius: 40px;
  /* background: #ffd4d4; */
  background-color: #FFFFE8;
  border: 2px solid #b84c65;
  color: #b84c65;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  -webkit-appearance: none;
  font-family: 'Bebas Neue';
  font-size: 20px;
}
label{
  font-size: 20px;
}
.container{
  margin-left: auto;
  margin-right: 0;
  float: right;
}
/*PawMates on Navbar*/
.light-green {
  font-family: 'Racing Sans One';
  font-size: 50px;
  color: #A3C14A;
  text-shadow: 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.dark-green {
  font-family: 'Racing Sans One';
  font-size: 50px;
  color: #68902B;
  text-shadow: 5px 2px 0px rgba(0, 0, 0, 0.75);
}
