body{
    height: 100vh;
}
.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  .pwd{
color:#2671ff;
  }
  .profile-image-pic{
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  img{
    height:200px;
    width:200px;
    border:2px black solid;
}
  
  .cardbody-color{
    background-color: #e9ecee;
  }
  
  a{
    text-decoration: none;
  }

  body{
    margin: 0px;
    background-color: #40434e;
    height: 100%;
}
#messages{
    padding: 10px;
    padding-bottom: 75px;
}
.message-Box{
    position: relative;
    width: 100%;
}
.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    text-align: left;
    width: fit-content;
    max-width: 50%;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    max-width: 50%;
    word-wrap: break-word;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-timestamp-right {
    text-align: end;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    padding: 5px;
    left: 18px;
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

/* .message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}  

.message-orange:before {
    content: '';
    position: absolute; 
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
} */

.chat-input {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #2671ff;
    fill: white;
}
.chat-input  button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    fill: white;
}

body {
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  .titlereg{
    font-family: 'Racing Sans One';
    font-size: 80px;
    color: #A3C14A;
    text-shadow: 5px 2px 0px rgba(0, 0, 0, 0.75);
    margin-left: 30px;
  }
  .regtitle{
    color: #b84c65;
    font-family: 'Bebas Neue';
    font-size: 30px;
    margin-left: 55px;
  }
  .signupbtn{
    font-family: 'Bebas Neue';
    font-size: 20px;
    width: 140px;
    height: 60px;
    text-align: center;
    color: #b84c65;
    margin-left: 60px;
  }
  /* Updated button styles with animation class */
  button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #ffd4d4;
    border: 2px solid #b84c65;
    color: #b84c65;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  
  button:hover {
    color: #b84c65;
    background: #ffffe8;
  }
  
  button:active {
    letter-spacing: 2px;
  }
  /*Email input*/
  input[type=email] {
    font-size: 15px;
    font-family: 'Bebas Neue';
    background-color: #FFFFE8;
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    margin-left:230px;
    
  }
  
  input[type=password] {
    font-size: 15px;
    font-family: 'Bebas Neue';
    background-color: #FFFFE8;
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    margin-left:230px;
    
  }
  input[type=text] {
    font-size: 15px;
    font-family: 'Bebas Neue';
    background-color: #FFFFE8;
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    margin-left:230px;
    
  }
  input[type=file] {
    font-size: 15px;
    font-family: 'Bebas Neue';
    background-color: #FFFFE8;
    width: 250px;
    height: 35px;
    padding: 10px;
    border-radius: 15px;
    border: 0;
    margin-left:230px;
    
  }
  .selectimg{
    font-family: 'Bebas Neue';
    margin-left: 80px;
  }
  .already{
    font-family: 'Bebas Neue';
    margin-left: 65px;
  }