<!DOCTYPE html>
<html>
    <head>
        <title>PawMates</title>
    </head>
    <body>
        <h1>Create Post</h1>
        <div>
            <div class="form">
                <label for="pet-image">Add image: </label>
                <input type="file" id="pet-image">
                <br>
                <label for="pet-name">Pet name: </label>
                <input type="text" id="pet-name">
                <br>
                <label for="pet-type">Pet type: </label>
                <select name="pet-type" id="pet-type">
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Bunnny">Bunny</option>
                </select>
                <br>
                <label for="age">Pet age: </label>
                <input type="text" id="age">
                <label for="month-age">Months</label>
                <input type="radio" name="age-type" id="month-age" value="Months">
                <label for="year-age">Years</label>
                <input type="radio" name="age-type" id="year-age" value="Years">
                <br>
                <label for="size">Pet size: </label>
                <select name="pet-size" id="pet-size">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
                <br>
                <label for="desc">Description: </label>
                <textarea name="desc" id="desc" cols="30" rows="5"></textarea>

                <button type="button" id="post">Post</button>
            </div>

        </div>

        <script type="module" src="/scripts/createPosts.js"></script>
    </body>
</html>