<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PawMates-Login</title>
  <link rel="stylesheet" href="/css/login.css" />
  <!--Font for title-->
  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
  <!--Font for smaller text-->
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <!--Title-->
    <h2>
      <span class="light-green">Paw</span>
      <span class="dark-green">Mates</span>
    </h2>

    <!--Slogan-->
    <div id="find-friend" <h6 class="find-friend">₊˚ʚ ᗢ₊ Find a friend today! ₊˚✧ ﾟ.</h6>
    </div>

    <!--Log in section-->
    <div>

      <!-- Input fields for email and password -->
      <div>
        <div>
          <!--Email entry-->
          <div>
            <br>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email"
              required>
          </div>
          <br>
          <!--Password entry-->
          <div>
            <input type="password" class="form-control" id="password" placeholder="password" required>
          </div>
        </div>

        <!--Error message display-->
        <br>
          <span class="error" style="color: #b84c65;text-align: center; font-weight: bold; background-color: #FFFFE8;"></span>
        <!-- Login button -->
        <br><br>
        <div>
          <button class="container" id="button" onclick="login()"
            class="btn btn-outline-dark btn-color px-5 mb-5 w-100">LOGIN</button>
        </div>
        <br>
        <div>
          <!--Sign up Button-->
          <button class="sign-button" id="signupButton">SIGN UP</button>
        </div>
        <br>
        <div>
          <button class="forgot-password-button" id="forgotPassButton" onclick="forgotPassButton()">FORGOT
            PASSWORD</button>
        </div>
      </div>
    </div>
</body>
<script type="module" src="/config/firebase.js"></script>
<script type="module" src="/scripts/login.js"></script>

</html>