<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav.css" />
</head>
<body>
   
<nav class="navbar">
    <div class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <a href="#" class="logo">Your Logo</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="home.html" class="nav-links">Home</a>
        </li>
        <li>
            <a href="profile.html" class="nav-links">Profile</a>
        </li>
        <li>
            <a href="userlist.html" class="nav-links">User List</a>
        </li>
        <!-- Add more navigation links as needed -->
    </ul>
</nav>
 
</body>
<script>
    document.getElementById('js-navbar-toggle').addEventListener('click', function () {
    var menu = document.getElementById('js-menu');
    menu.classList.toggle('active');
});

</script>
</html>

