<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
</head>
<body>
    <form>
        <div class="form-floating mb-3">
            <input type="email" class="form-control element-1 forgetEmail" id="floatingInput" placeholder="Please enter email"/>
            <label for="floatingInput">Email address</label>
        </div>
        <button class="btn btn-primary w-100 submit my-2" id="submit-data">Submit</button>
    </form>
    
    <script type="module">
        async function initializeAppAndAttachEvent() {
            const firebaseModule = await import("https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js");
            const { getAuth, sendPasswordResetEmail } = await import("https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js");

            const firebaseConfig = {
                apiKey: "AIzaSyCE4N3-_icVHFbWLWI9rqO_E-uXwqB67rk",
                authDomain: "pawmates-a1757.firebaseapp.com",
                databaseURL: "https://pawmates-a1757-default-rtdb.firebaseio.com",
                projectId: "pawmates-a1757",
                storageBucket: "pawmates-a1757.appspot.com",
                messagingSenderId: "212632097126",
                appId: "1:212632097126:web:bb4518a57e31549c2178a7"
            };

            const app = firebaseModule.initializeApp(firebaseConfig);
            const auth = getAuth(app);

            let submit_data = document.getElementById("submit-data");
            let forgetEmail = document.querySelector(".forgetEmail");

            submit_data.addEventListener("click", async (event) => {
                event.preventDefault(); // Prevent default form submission

                try {
                    await sendPasswordResetEmail(auth, forgetEmail.value);
                    forgetEmail.value = ""; // Clear the email input field after successful submission
                    alert("Congratulations! Please check your email for password reset instructions.");
                } catch (error) {
                    const errorMessage = error.message;
                    console.error("Password reset error:", error);
                    alert("Error: " + errorMessage);
                }
            });
        }

        // Wait for DOMContentLoaded event before initializing Firebase and attaching event
        document.addEventListener("DOMContentLoaded", initializeAppAndAttachEvent);
    
    </script>
</body>
</html>
